.landing-page-background {
    background-image: url("/images/headoffice/no_greenheader_birdbg_landingpage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
