//Colors
$green: #006837;
$gray: #666666;
$purple: #4d0088;
$lightgreen: #17cb7b;
$cream: #ffffb0;
$hovercolor: #d8b0ff;
$lineargradientbg: #ebe97f;

//Font Sizes
$font-sm: 1.125 rem;
$font-med: 17px;
